<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="/assets/images/favicon.png" rel="icon" type="image/png">

    <!-- Basic Page Needs
        ================================================== -->
    <title>Instello Sharing Photos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Instello - Sharing Photos platform HTML Template">

    <!-- icons
        ================================================== -->
    <link rel="stylesheet" href="/assets/css/icons.css">

    <!-- CSS 
        ================================================== -->
    <link rel="stylesheet" href="/assets/css/uikit.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/tailwind.css">


    <% include sidebar%>
        <% include topheaders %>

            <script>
                function changeTextColor(event) {
                  
                    const link = event.currentTarget;
                    link.classList.toggle("text-red-500");

                    const likeText = link.querySelector("#likeText");
                    likeText.classList.toggle("text-red-500");

                    const likeicon = link.querySelector("#likeIcon");
                    likeicon.classList.toggle("text-red-500");

                    // Make an AJAX request to the server
                    fetch(link.href, {
                        method: 'GET'
                    })
                        .then(response => {
                            if (response.ok) {

                            } else {
                                // Error: handle the response status or error message
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }

            </script>
</head>

<body>


    <div id="wrapper">



        <div class="main_content">



            <div class="container m-auto">

                <h1 class="lg:text-2xl text-lg font-extrabold leading-none text-gray-900 tracking-tight mb-5"> Feed
                </h1>

                <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">

                    <!-- left sidebar-->
                    <div class="space-y-5 flex-shrink-0 lg:w-7/12">
                        <% post.forEach(function(item,index){ %>

                            <!-- post 1-->
                            <div class="bg-white shadow rounded-md dark:bg-gray-900 -mx-2 lg:mx-0">

                                <!-- post header-->
                                <div class="flex justify-between items-center px-4 py-3">
                                    <div class="flex flex-1 items-center space-x-4">
                                        <a href="#">
                                            <div
                                                class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                                                <img src="images/<%= item.thumbnail %>"
                                                    class="bg-gray-200 border border-white rounded-full w-8 h-8">
                                            </div>
                                        </a>
                                        <span class="block capitalize font-semibold dark:text-gray-100">
                                            <%= item.userName%>
                                        </span>
                                    </div>
                                   
                                </div>

                                <div uk-lightbox>
                                    <a href="images/<%=item.image%>">
                                        <img src="images/<%=item.image%>" alt="" height="100%" width="100%">
                                    </a>
                                </div>


                                <div class="py-3 px-4 space-y-3">

                                    <div class="flex space-x-4 lg:font-bold">

                                        <a href="/like_post/<%= item._id %>" class="flex items-center space-x-2"
                                            onclick="changeTextColor(event)">
                                            <div class="p-2 rounded-full text-black">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                    fill="currentColor" width="22" height="22"
                                                    class="dark:text-gray-100" id="likeIcon">
                                                    <path
                                                        d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                                </svg>
                                            </div>
                                            <div id="likeText"><%=item.totalLike + " "%> Like</div>
                                        </a>
                                        <a href="#" class="flex items-center space-x-2">
                                            <div class="p-2 rounded-full text-black">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                    fill="currentColor" width="22" height="22"
                                                    class="dark:text-gray-100">
                                                    <path fill-rule="evenodd"
                                                        d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                                                        clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                            <div> Comment</div>
                                        </a>
                                        <a href="#" class="flex items-center space-x-2 flex-1 justify-end">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" width="22" height="22" class="dark:text-gray-100">
                                                <path
                                                    d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z" />
                                            </svg>
                                            <div> Share</div>
                                        </a>
                                    </div>
                                    <div class="flex items-center space-x-3">
                                        <div class="flex items-center">
                                            <% last3Like[item._id].forEach(Likes => { %>
                                            <img src="images/<%=Likes.profile_pic%>" alt=""
                                                class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-900 -ml-2">
                                            <!-- <img src="/assets/images/avatars/avatar-4.jpg" alt=""
                                                class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-900 -ml-2">
                                            <img src="/assets/images/avatars/avatar-2.jpg" alt=""
                                                class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-900 -ml-2"> -->
                                                <% }); %>
                                            </div>
                                        <div class="dark:text-gray-100">
                                            Liked <strong>
                                                <%= item.lastLike %>
                                            </strong> and <strong>
                                                <%= item.totalLike==0 ? 0: item.totalLike - 1 %> Others
                                            </strong>
                                        </div>
                                    </div>
                                    <!-- =============================== post Comments =============================== -->
                                    <div class="border-t pt-4 space-y-4 dark:border-gray-600">
                                        <% last2comments[item._id].forEach(comment => { %>
                                            <div class="flex">
                                                <div class="w-10 h-10 rounded-full relative flex-shrink-0">
                                                    <img src="images/<%=comment.commentsuserthumbnail%>" alt=""
                                                        class="absolute h-full rounded-full w-full">
                                                </div>
                                                <div
                                                    class="text-gray-700 py-2 px-3 rounded-md bg-gray-100 h-full relative lg:ml-5 ml-2 lg:mr-20 dark:bg-gray-800 dark:text-gray-100">
                                                    <p class="leading-6">
                                                        <%= comment.comments %>
                                                    </p>
                                                    <div
                                                        class="absolute w-3 h-3 top-3 -left-1 bg-gray-100 transform rotate-45 dark:bg-gray-800">
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </div>
                                    <div
                                        class="bg-gray-100 bg-gray-100 rounded-full rounded-md relative dark:bg-gray-800">
                                        <form action="/postcomment/<%= item._id %>" method="POST">
                                            <input type="text" name="comment" placeholder="Add your Comment.."
                                                class="bg-transparent max-h-10 shadow-none">
                                            <div
                                                class="absolute bottom-0 flex h-full items-center right-0 right-3 text-lg space-x-2">
                                                <button type="submit" style="font-size:15px; font-weight: 700;"
                                                    class="hover:text-red-500 ">Post</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- =============================== Comments end =============================== -->

                                </div>

                            </div>


                            <% }); %>




                    </div>

                    <!-- right sidebar-->
                    <div class="lg:w-5/12">

                        <div class="bg-white dark:bg-gray-900 shadow-md rounded-md overflow-hidden">

                            <div
                                class="bg-gray-50 dark:bg-gray-800 border-b border-gray-100 flex items-baseline justify-between py-4 px-6 dark:border-gray-800">
                                <h2 class="font-semibold text-lg">Who to follow</h2>
                             
                            </div>

                            <% newRegister.forEach(function(item,index){ %>
                                <div
                                    class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4 dark:divide-gray-800 dark:text-gray-100">
                                    <div class="flex items-center justify-between py-3">
                                        <div class="flex flex-1 items-center space-x-4">
                                            <a href="/profile">
                                                <img src="images/<%=item.profile_pic%>"
                                                    class="bg-gray-200 rounded-full w-10 h-10">
                                            </a>
                                            <div class="flex flex-col">
                                                <span class="block capitalize font-semibold">
                                                    <%= item.firstname +" "+ item.lastname%> </span>
                                            <span class=" block capitalize text-sm"> Australia
                                                </span>
                                            </div>
                                        </div>

                                        <a href="/send_request/<%= item._id %>"
                                            class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600 dark:border-gray-800">
                                            Follow </a>
                                            
                                    </div>

                                </div>

                                <%})%>

                                <% followback.forEach(function(item,index){ %>
                                    <div
                                        class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4 dark:divide-gray-800 dark:text-gray-100">
                                        <div class="flex items-center justify-between py-3">
                                            <div class="flex flex-1 items-center space-x-4">
                                                <a href="/watch_profile/<%=item._id%>">
                                                    <div class="flex">
                                                    <img src="images/<%=item.profile_pic%>"
                                                        class="bg-gray-200 rounded-full w-10 h-10" style="margin-right: 20px!important;">
                                                <div class="flex flex-col ml-6">
                                                    <span class="block capitalize font-semibold">
                                                        <%= item.firstname +" "+ item.lastname%> </span>
                                                <span class=" block capitalize text-sm"> Australia
                                                    </span>
                                                </div>
                                            </div>  
                                                </a>
                                            </div>
    
                                            <a href="/send_request/<%= item._id %>"
                                                    class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600 dark:border-gray-800">
                                                    Follow Back </a>
                                        </div>
    
                                    </div>
    
                                    <%})%>   
                        </div>
                        <div class="mt-5" uk-sticky="offset:28; bottom:true ; media @m">
                            <div class="bg-white dark:bg-gray-900 shadow-md rounded-md overflow-hidden">

                                <div
                                    class="bg-gray-50 border-b border-gray-100 flex items-baseline justify-between py-4 px-6 dark:bg-gray-800 dark:border-gray-700">
                                    <h2 class="font-semibold text-lg">Latest</h2>
                                    <a href="explore"> See all</a>
                                </div>

                                <div class="grid grid-cols-2 gap-2 p-3 uk-link-reset">
                                    <% newpost.forEach(function(item,index){ %>
                                        <div id="parentContainer"
                                            class="bg-red-500 max-w-full h-32 rounded-lg relative overflow-hidden uk-transition-toggle">
                                            <a href="#story-modal<%=index%>"  uk-toggle>
                                                <img src="images/<%=item.image%>"
                                                    class="w-full h-full absolute object-cover inset-0">
                                            </a>
                                            <div
                                                class="flex flex-1 justify-around items-center absolute bottom-0 w-full p-2 text-white custom-overly1 uk-transition-slide-bottom-medium">
                                                <a href="#"> <i class="uil-heart"></i>
                                                    <%= item.totalLike %>
                                                </a>
                                            </div>
                                        </div>
                                        <%})%>


                                </div>

                            </div>
                        </div>

                    </div>

                </div>


            </div>

        </div>

    </div>



    <!-- Story modal -->
    <% newpost.forEach(function(item,index){ %>
        <div id="story-modal<%=index%>" class="uk-modal-container" uk-modal>
            <div class="uk-modal-dialog story-modal">
                <button class="uk-modal-close-default lg:-mt-9 lg:-mr-9 -mt-5 -mr-5 shadow-lg bg-white rounded-full p-4 transition dark:bg-gray-600 dark:text-white" type="button" uk-close></button>
    
                    <div class="story-modal-media" style="height: 540px!important; width: 100%;">
                        <img src="/images/<%= item.image%>" alt=""  class="inset-0 h-full w-full object-fit-cover">
                    </div>
                    <div class="flex-1 bg-white dark:bg-gray-900 dark:text-gray-100">
                    
                        <!-- post header-->
                        <div class="border-b flex items-center justify-between px-5 py-3 dark:border-gray-600">
                            <div class="flex flex-1 items-center space-x-4">
                                <a href="#">
                                    <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                                        <img src="/images/<%=item.thumbnail%>"
                                            class="bg-gray-200 border border-white rounded-full w-8 h-8">
                                    </div>
                                </a>
                                <span class="block text-lg font-semibold"> <%=item.userName%> </span>
                            </div>
                            <div>
    
                                <a href="#" class=" flex h-12 h-full items-center justify-center rounded-full text-xl w-9 dark:bg-gray-700"> 
                                   ...
                                </a>
                                    
                                <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base dark:bg-gray-900" uk-drop="mode: click">
                              
                                  <ul class="space-y-1">
                                    <li> 
                                        <a href="/remove_post/<%=item._id%>" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-700">
                                         <i class="uil-delete mr-2"></i>Delete Post
                                        </a> 
                                    </li>
                                    <li> 
                                        <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-700">
                                         <i class="uil-delete mr-2"></i>Edit Post
                                        </a> 
                                    </li>
                                    <li> 
                                        <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-700">
                                         <i class="uil-delete mr-2"></i>
                                         turn off Commenting
                                        </a> 
                                    </li>
                                  </ul>
                              
                                </div>
    
                                </div>
    
                        </div>
                        <div class="story-content p-4" data-simplebar>
    
                            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                            
                            <div class="py-4 ">
                                <div class="flex justify-around">
                                    <a href="#" class="flex items-center space-x-3">
                                        <div class="flex font-bold items-baseline"> <i class="uil-heart mr-1"> </i> Like</div>
                                    </a>
                                    <a href="#" class="flex items-center space-x-3">
                                        <div class="flex font-bold items-baseline"> <i class="uil-heart mr-1"> </i> Comment</div>
                                    </a>
                                    <a href="#" class="flex items-center space-x-3">
                                        <div class="flex font-bold items-baseline"> <i class="uil-heart mr-1"> </i> Share</div>
                                    </a>
                                </div>
                                <hr class="-mx-4 my-3">
                                <div class="flex items-center space-x-3"> 
                                    <div class="flex items-center">
                                        <% last3Like[item._id].forEach(Likes => { %>
                                        <img src="images/<%=Likes.profile_pic%>" alt="" class="w-6 h-6 rounded-full border-2 border-white">
                                        <% }); %>
                                    </div>
                                    <div>
                                        Liked <strong> <%=item.lastLike%></strong> and <strong> <%=item.totalLike%>   Others</strong> </span> 
                                    </div>
                                </div>
                            </div>
    
                        <div class="-mt-1 space-y-1">
                            <% last2comments[item._id].forEach(comment => { %>
                            <div class="flex flex-1 items-center space-x-2">
                                <img src="images/<%=comment.commentsuserthumbnail%>" class="rounded-full w-8 h-8">
                                <div class="flex-1 p-2">
                                    <%= comment.comments %>
                                </div>
                            </div>
                            <% }); %>
                        </div>
    
    
                        </div>
                        <div
                        class="bg-gray-100 bg-gray-100 rounded-full rounded-md relative dark:bg-gray-800">
                        <form action="/postcomment/<%= item._id %>" method="POST">
                            <input type="text" name="comment" placeholder="Add your Comment.."
                                class="bg-transparent max-h-10 shadow-none mx-5">
                            <div
                                class="absolute bottom-0 flex h-full items-center right-0 right-3 text-lg space-x-2">
                                <button type="submit" style="font-size:15px; font-weight: 700;"
                                    class="hover:text-red-500 ">Post</button>
                            </div>
                        </form>
                    </div>
    
                    </div>
    
            </div>
        </div>
    <%})%>

 
 
    <script>

        (function (window, document, undefined) {
            'use strict';
            if (!('localStorage' in window)) return;
            var nightMode = localStorage.getItem('gmtNightMode');
            if (nightMode) {
                document.documentElement.className += ' dark';
            }
        })(window, document);


        (function (window, document, undefined) {

            'use strict';

            // Feature test
            if (!('localStorage' in window)) return;

            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;

            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('dark');
                if (document.documentElement.classList.contains('dark')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);

        })(window, document);
    </script>


    <!-- Scripts
    ================================================== -->
    <script src="/assets/js/tippy.all.min.js"></script>
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/uikit.js"></script>
    <script src="/assets/js/simplebar.js"></script>
    <script src="/assets/js/custom.js"></script>


    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>


</body>

</html>