
     
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="assets/images/favicon.png" rel="icon" type="image/png">

    <!-- Basic Page Needs
        ================================================== -->
    <title>Instello Sharing Photos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Instello - Sharing Photos platform HTML Template">

    <!-- icons
        ================================================== -->
    <link rel="stylesheet" href="assets/css/icons.css">

    <!-- CSS 
        ================================================== -->
    <link rel="stylesheet" href="assets/css/uikit.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/tailwind.css">
    <style>
        @media (min-width: 1024px) {
            header .header_inner {
                max-width: 980px;
            }

            .pro-container {
                max-width: 860px;
            }
        }
    </style>

    
<% include sidebar%>
<% include topheaders%>
</head>

<body>
      <!-- ======== upload profile -->
  
      <div id="profile-modal1" uk-dropdown="mode:click ; animation: uk-animation-slide-bottom-small" class="header_dropdown">

        <!-- notivication header -->
        <div class="px-4 py-3 -mx-5 -mt-4 mb-5 border-b">
            <h4>Upload Post</h4>
        </div>

        <!-- notification contents -->
        <div class="flex justify-center flex-center text-center dark:text-gray-300">

            <form action="/profile" enctype="multipart/form-data" method="POST" class="p-5" > 
                <input type="file" name="myFile1"  class="py-5"/>
                <input type="submit" value="Upload a file"  class="pt-5" style="margin-top: 20px!important;"/>
             </form> 


        </div>
        <div class="px-4 py-3 -mx-5 -mb-4 mt-5 border-t text-sm dark:border-gray-500 dark:text-gray-500">
            Your Video size Must be Maxmium 999MB
        </div>
    </div>
    
        <div id="wrapper">
    
    
        <div class="main_content">

  
    
            <div class="container pro-container m-auto">
                
                <!-- profile-cover-->
                <div class="flex lg:flex-row flex-col items-center lg:py-8 lg:space-x-8">

                    <div>
                        <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-1 rounded-full m-0.5 mr-2  w-56 h-56 relative overflow-hidden uk-transition-toggle">  
                            <img src="images/<%= data.profile_pic %>" class="bg-gray-200 border-4 border-white rounded-full w-full h-full dark:border-gray-900">
                           
                          

                            <div class="absolute -bottom-3 custom-overly1 flex justify-center pt-4 pb-7 space-x-3 text-2xl text-white uk-transition-slide-bottom-medium w-full">
                                <a href="#profile-modal1" class="hover:text-white flex items-center -mb-1
                                mr-1 opacity-90 text-xl" uk-toggle >
                                    <i class="uil-camera"></i>
                                </a>
                                
                                <a href="#" class="hover:text-white">
                                    <i class="uil-crop-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="lg:w/8/12 flex-1 flex flex-col lg:items-start items-center"> 

                        <h2 class="font-semibold lg:text-2xl text-lg mb-2"> <%= data.firstname + "  "+ data.lastname%> </h2>
                        <p class="lg:text-left mb-2 text-center  dark:text-gray-100"> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet 
                            doming id quod mazim placerat facer possim assum</p>

                            <div class="flex font-semibold mb-3 space-x-2  dark:text-gray-10">
                                <a href="#">Travailing</a> , <a href="#">Sports</a>  , <a href="#">Movies</a> 
                            </div>

                            
                            <div class="capitalize flex font-semibold space-x-3 text-center text-sm my-2">
                                <a href="/newregister" class="bg-gray-300 shadow-sm p-2 px-6 rounded-md dark:bg-gray-700"> Add friend</a>
                                <a href="/chat" class="bg-pink-500 shadow-sm p-2 pink-500 px-6 rounded-md text-white hover:text-white hover:bg-pink-600"> Send message</a>
                                <div>

                                <a href="#" class="bg-gray-300 flex h-12 h-full items-center justify-center rounded-full text-xl w-9 dark:bg-gray-700"> 
                                    <i class="icon-feather-chevron-down"></i> 
                                </a>
                                    
                                <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base dark:bg-gray-900" uk-drop="mode: click">
                              
                                  <ul class="space-y-1">
                                    <li> 
                                        <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-700">
                                         <i class="uil-user-minus mr-2"></i>Unfriend
                                        </a> 
                                    </li>
                                    <li> 
                                        <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-700">
                                         <i class="uil-eye-slash  mr-2"></i>Hide Your Story
                                        </a> 
                                    </li>
                                    <li> 
                                        <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-700">
                                         <i class="uil-share-alt mr-2"></i> Share This Profile
                                        </a> 
                                    </li>
                                    <li>
                                      <hr class="-mx-2 my-2  dark:border-gray-700">
                                    </li>
                                    <li> 
                                        <a href="#" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md dark:hover:bg-red-600">
                                         <i class="uil-stop-circle mr-2"></i> Block
                                        </a> 
                                    </li>
                                  </ul>
                              
                                </div>

                                </div>

                            </div>

                            <div class="divide-gray-300 divide-transparent divide-x grid grid-cols-3 lg:text-left lg:text-lg mt-3 text-center w-full dark:text-gray-100">
                                <div class="flex lg:flex-row flex-col"> <%=  total_post %><strong class="lg:pl-2">Posts</strong></div>
                                <div class="lg:pl-4 flex lg:flex-row flex-col"> <%=total_followers%> <strong class="lg:pl-2">Followers</strong></div>
                                <div class="lg:pl-4 flex lg:flex-row flex-col"> <%=total_following%> <strong class="lg:pl-2">Following</strong></div>
                            </div>
 
                    </div>

                    <div class="w-20"></div>

                </div>
              
                <h1 class="lg:text-2xl text-lg font-extrabold leading-none text-gray-900 tracking-tight mt-8"> Highths </h1>
                
                <div class="my-6 grid lg:grid-cols-5 grid-cols-3 gap-2 hover:text-yellow-700 uk-link-reset">
                    <a href="#"  >
                        <div class="bg-gray-100 border-4 border-dashed flex flex-col h-full items-center justify-center relative rounded-2xl w-full"> 
                            <i class="text-4xl uil-plus-circle"></i> <span> Add new </span>
                        </div>
                        
                        </a>
                        <!-- profile Hights Section -->
                    <% post_img.forEach(function(item,index){ %> 
                    <a href="#story-modal<%=index%>" uk-toggle>
                        <img src="images/<%= item.image %>" alt="" class="w-full lg:h-60 h-40 rounded-md object-cover">
                    </a>
                    <% }); %>
                </div>
    <!-- Profile Explore Section -->
                <div class="flex items-center justify-between mt-8 space-x-3">
                    <h1 class="flex-1 font-extrabold leading-none lg:text-2xl text-lg text-gray-900 tracking-tight uk-heading-line"><span>Explore</span></h1>
                    <div class="bg-white border border-2 border-gray-300 divide-gray-300 divide-x flex rounded-md shadow-sm dark:bg-gray-100">
                        <a href="#" class="bg-gray300 flex h-10 items-center justify-center  w-10" data-tippy-placement="top" title="Grid view"> <i class="uil-apps"></i></a>
                        <a href="#" class="flex h-10 items-center justify-center w-10" data-tippy-placement="top" title="List view"> <i class="uil-list-ul"></i></a>                        
                    </div>
                </div>

                <div class="my-6 grid lg:grid-cols-4 grid-cols-2 gap-1.5 hover:text-yellow-700 uk-link-reset">
            
                    <% post_img.forEach(function(item,index){ %> 
                          
                        <div>
                            <div class="bg-red-500 max-w-full lg:h-64 h-40 rounded-md relative overflow-hidden uk-transition-toggle" tabindex="0"> 
                                    <img src="/images/<%=item.image%>" class="w-full h-full absolute object-cover inset-0">
        
                                    <div class="absolute bg-black bg-opacity-40 bottom-0 flex h-full items-center justify-center space-x-5 text-lg text-white uk-transition-scale-up w-full">   
                                        <a href="#story-modal<%=index%>" uk-toggle class="flex items-center"> <ion-icon name="heart" class="mr-1"></ion-icon> <%= item.totalLike%> </a>
                                        <a href="#story-modal<%=index%>" uk-toggle class="flex items-center"> <ion-icon name="chatbubble-ellipses" class="mr-1"></ion-icon> <%=item.totalComments%> </a>
                                        <a href="#story-modal<%=index%>" uk-toggle class="flex items-center"> <ion-icon name="pricetags" class="mr-1"></ion-icon> 0  </a>
                                    </div>
        
                                </div>
                            </div>
                    <% }); %>
                             
                </div>

                <div class="flex justify-center mt-6">
                    <a href="#" class="bg-white dark:bg-gray-900 font-semibold my-3 px-6 py-2 rounded-full shadow-md dark:bg-gray-800 dark:text-white"> Load more ..</a>
                </div>


            </div>

        </div>

    </div>


  


   <!-- Story modal -->
   <% post_img.forEach(function(item,index){ %> 
    <div id="story-modal<%=index%>" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog story-modal">
            <button class="uk-modal-close-default lg:-mt-9 lg:-mr-9 -mt-5 -mr-5 shadow-lg bg-white rounded-full p-4 transition dark:bg-gray-600 dark:text-white" type="button" uk-close></button>

                <div class="story-modal-media" style="height: 540px!important; width: 100%;">
                    <img src="/images/<%= item.image%>" alt=""  class="inset-0 h-full w-full object-fit-cover">
                </div>
                <div class="flex-1 bg-white dark:bg-gray-900 dark:text-gray-100">
                
                    <!-- post header-->
                    <div class="border-b flex items-center justify-between px-5 py-3 dark:border-gray-600">
                        <div class="flex flex-1 items-center space-x-4">
                            <a href="#">
                                <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                                    <img src="/images/<%=item.thumbnail%>"
                                        class="bg-gray-200 border border-white rounded-full w-8 h-8">
                                </div>
                            </a>
                            <span class="block text-lg font-semibold"> <%=item.userName%> </span>
                        </div>
                        <div>

                            <a href="#" class=" flex h-12 h-full items-center justify-center rounded-full text-xl w-9 dark:bg-gray-700"> 
                               ...
                            </a>
                                
                            <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base dark:bg-gray-900" uk-drop="mode: click">
                          
                              <ul class="space-y-1">
                                <li> 
                                    <a href="/remove_post/<%=item._id%>" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-700">
                                     <i class="uil-delete mr-2"></i>Delete Post
                                    </a> 
                                </li>
                                <li> 
                                    <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-700">
                                     <i class="uil-delete mr-2"></i>Edit Post
                                    </a> 
                                </li>
                                <li> 
                                    <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-700">
                                     <i class="uil-delete mr-2"></i>
                                     turn off Commenting
                                    </a> 
                                </li>
                              </ul>
                          
                            </div>

                            </div>

                    </div>
                    <div class="story-content p-4" data-simplebar>

                        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                        
                        <div class="py-4 ">
                            <div class="flex justify-around">
                                <a href="#" class="flex items-center space-x-3">
                                    <div class="flex font-bold items-baseline"> <i class="uil-heart mr-1"> </i> Like</div>
                                </a>
                                <a href="#" class="flex items-center space-x-3">
                                    <div class="flex font-bold items-baseline"> <i class="uil-heart mr-1"> </i> Comment</div>
                                </a>
                                <a href="#" class="flex items-center space-x-3">
                                    <div class="flex font-bold items-baseline"> <i class="uil-heart mr-1"> </i> Share</div>
                                </a>
                            </div>
                            <hr class="-mx-4 my-3">
                            <div class="flex items-center space-x-3"> 
                                <div class="flex items-center">
                                    <img src="/assets/images/avatars/avatar-1.jpg" alt="" class="w-6 h-6 rounded-full border-2 border-white">
                                    <img src="/assets/images/avatars/avatar-4.jpg" alt="" class="w-6 h-6 rounded-full border-2 border-white -ml-2">
                                    <img src="/assets/images/avatars/avatar-2.jpg" alt="" class="w-6 h-6 rounded-full border-2 border-white -ml-2">
                                </div>
                                <div>
                                    Liked <strong> <%=item.lastLike%></strong> and <strong> <%=item.totalLike%>   Others</strong> </span> 
                                </div>
                            </div>
                        </div>

                    <div class="-mt-1 space-y-1">
                        <% last2comments[item._id].forEach(comment => { %>
                        <div class="flex flex-1 items-center space-x-2">
                            <img src="images/<%=comment.commentsuserthumbnail%>" class="rounded-full w-8 h-8">
                            <div class="flex-1 p-2">
                                <%= comment.comments %>
                            </div>
                        </div>
                        <% }); %>
                    </div>


                    </div>
                    <div
                    class="bg-gray-100 bg-gray-100 rounded-full rounded-md relative dark:bg-gray-800">
                    <form action="/postcomment/<%= item._id %>" method="POST">
                        <input type="text" name="comment" placeholder="Add your Comment.."
                            class="bg-transparent max-h-10 shadow-none mx-5">
                        <div
                            class="absolute bottom-0 flex h-full items-center right-0 right-3 text-lg space-x-2">
                            <button type="submit" style="font-size:15px; font-weight: 700;"
                                class="hover:text-red-500 ">Post</button>
                        </div>
                    </form>
                </div>

                </div>

        </div>
    </div>
<%})%>

    

      
    <script>
        
        (function (window, document, undefined) {
            'use strict';
            if (!('localStorage' in window)) return;
            var nightMode = localStorage.getItem('gmtNightMode');
            if (nightMode) {
                document.documentElement.className += ' dark';
            }
        })(window, document);
    
    
        (function (window, document, undefined) {
    
            'use strict';
    
            // Feature test
            if (!('localStorage' in window)) return;
    
            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;
    
            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('dark');
                if (document.documentElement.classList.contains('dark')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);
    
        })(window, document);
    </script>

 <!-- Scripts
    ================================================== -->
    <script src="assets/js/tippy.all.min.js"></script>  
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/uikit.js"></script>
    <script src="assets/js/simplebar.js"></script>
    <script src="assets/js/custom.js"></script>


    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>

</html>